/*Main styles*/

@import "iconsstyle.css";
@import "headsection.css";
:root {
    --primary: #eaeaea;
    --light: #fff;
    --dark: #333;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: var(--dark);
    color: var(--light);
    font-size: 1rem;
    text-align: center;
}

img {
    display: block;
    width: 100%;
    height: 100%;
}

.homesection {
    display: grid;
    background: var(--light);
    color: var(--dark);
    padding-top: 2rem;
}

.subhome {
    display: flex;
    flex-direction: column;
}

.boxes {
    display: grid;
    grid-gap: 20px;
    padding-top: 1rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
}

.box {
    background: var(--light);
    color: var(--dark);
    text-align: center;
    padding: 1.5rem 2rem;
    padding-top: 1rem;
}

.blogsection {
    padding: 1rem 0rem 1rem;
}

.btn {
    display: inline-block;
    padding: 1em 2em;
    border: 1px solid #666;
    background: rgb(201, 193, 193);
}

.btn:hover {
    background: var(--dark);
}

.ct-section {
    background: #9b9c9c;
    padding: 1rem 1rem 1rem;
}

q {
    font-style: italic;
}

#ft-section {
    background: var(--dark);
}

@media (min-width: 1200px) {
    .totalblog {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        border: 2px solid black;
        background: whitesmoke;
        color: black;
        padding: 1rem 1rem 1rem;
    }
}

@media(min-width:600px) {
    #propic {
        height: auto;
        width: 500px;
        border-radius: 50%;
    }
    .subhome {
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
}